.card {
    border: 1.4px solid black;
    box-shadow: 5px 10px;
    border-radius: 5px;

    box-sizing: border-box;
    padding: 2%;

    margin: 30px auto;
}
.container {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    line-height: 2rem;
}