.card {
    border: 1.4px solid black;
    box-shadow: 5px 10px;
    border-radius: 5px;

    box-sizing: border-box;
    padding: 5%;

    margin: 30px auto;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1%;
}

.flexbox {
    display: flex;
    width: 145px;
}
.flexitem {
    width: 50%;
}

label {
    display: block;
    line-height: 2rem;
}

input {
    display: block;
    margin: 6px;
}
